# KampungHub Backend Environment Variables Configuration Template
# Copy this file to a new file named '.env' and adjust the values as needed.
# Do NOT commit '.env' to the git repository.

# Database Credentials
DB_URL=jdbc:h2:mem:kampungdb
DB_USERNAME=sa
DB_PASSWORD=

# Spring Security Defaults
SECURITY_USER_NAME=admin
SECURITY_USER_PASSWORD=admin
